.selectcharacter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
html {
    font-family: "Honk", sans-serif;
}

body {
    background-image: url(images/background.jpg);
    
}

.character-info {
    text-align: center;
}

.stor-tekst {
    font-size: 50px;
    margin: 0;
}

.liten-tekst {
    margin: 0;
}

.bigcharacter {
    width: 350px;
    height: 500px;
}

.selectcharacter > button {
    height: 100px;
    width: 100px;
    font-size: 50px;
}

.fight-characters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fight-characters > img {
    width: 300px;
    height: 300px;
    margin: 100px;
    
}

.fighttext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    height: 50px;
    font-size: 30px;
}

.gameovertext {
    text-align: center;
}

.gameovertext > h1 {
    font-size: 100px;
}

.gameovertext > img {
    width: 300px;
    height: 300px;
}